@import url('fonts/museo.css');
@import url('fonts/nuptial-script.css');

body {
    font:           16px/26px 'Museo-300';
    background:     url('../img/bg.png');
    height:         100%;
    color:          #65513c;
}

.main {
    height:         100%;
    padding:        0 2ex;
}

.container {
    background-color:       #F8F2E8;
    background-image:       url('../img/oiseaux.png');
    background-position:    100% 1em;
    background-repeat:      no-repeat;
    background-size:        40%;
    max-width:              40em;
    margin:                 0em auto;
    padding:                1px 1em 4em;
    box-shadow:             0 0 10px 2px rgba(0,0,0,0.5);
    text-align:             center;
}

.lang {
    position:       absolute;
    left:           3ex;
    top:            1ex;
    line-height:    0;
}

.lang > a {
    display:        inline-block;
    box-shadow:     0 0 5px 2px rgba(0,0,0,0.5);
    margin-right:   1ex;
}

.lang > a > img {
    width:          1.5em;
}

@media only screen and (min-width: 42em) {
    .lang {
        left:       calc(50vw - 19.5em);
    }

    .lang > a > img {
        width:      2em;
    }
}

@media only screen and (min-width: 54em) {
    .lang {
        left:       1em;
        top:        1em;
    }

    .lang > a {
        margin-right:      1em;
    }
}

h1.titre {
    position: relative;
    left: -20%;
    margin: 3em;
}


.photo {
    width: 100%;
    border: 1px solid #ccc;
    padding: 5px;
    margin: 1em auto;
}

.photo > img {
    width: 100%;

}

h2 {
    font-family: 'NuptialScript';
    font-size: 2em;
    text-shadow: 1px 1px lightgray;
}

.action {
    background: #65513c;
    padding: 1em;
    display: inline-block;
    text-decoration: none;
    color: white;
    font-family: 'Museo-500';
    border: none;
}

.footer {
    justify-content: space-between;
}

/**
 * Formulaire
 */

.formulaire {
    margin-top: 1em;
}

.formulaire label {
    display: block;
    margin-top: 0;
}

.formulaire label > input {
    margin-right: 1ex;
}

.bouton-envoyer {
}

.erreur, .succes {
    font-family: Museo-500;
    color: white;
    padding: 1ex;
}

.erreur {
    background: #e64141;
}

.succes {
    background: #90ff78;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {


}

@media only screen and (min-width: 768px) {



@media only screen and (min-width: 1140px) {


}
